# Database configuration
dbVendor=mysql
dbConnectString=dbi:mysql:orthomcl:mysql_local_infile=1:localhost:3306
dbLogin=orthomcl
dbPassword=orthomcl
# Names of SQL Tables
similarSequencesTable=SimilarSequences
orthologTable=Ortholog
inParalogTable=InParalog
coOrthologTable=CoOrtholog
# No idea what this is for, Protocol doesn't talk about it
interTaxonMatchView=InterTaxonMatch
# Recommended defaults for defining BLAST hits
percentMatchCutoff=50
evalueExponentCutoff=-5